## 資料庫操作

In [2]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('SELECT SQLITE_VERSION();')
data = cur.fetchone()
print(data)
con.close()

('3.14.2',)

In [4]:
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION();')
    data = cur.fetchone()
    print(data)

('3.14.2',)

In [5]:
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    # 如果表格存在，捨棄表格
    cur.execute("DROP TABLE IF EXISTS PhoneAddress")
    # 建立PhoneAddress 表格
    cur.execute("CREATE TABLE PhoneAddress(\
                      phone   CHAR(10) PRIMARY KEY, \
                      address TEXT                , \
                      name    TEXT unique         , \
                      age     INT NOT NULL)") 
    # 新增資料
    cur.execute("INSERT INTO PhoneAddress VALUES(\
                  '0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES(\
                  '0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES(\
                  '0957209108','Taipei','Richard',29)")
    #查詢資料
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchall() 
    for rec in data: 
        print(rec)
        #print(rec[0], rec[1])

('0912173381', 'United State')
('0928375018', 'Tokyo Japan')
('0957209108', 'Taipei')

In [9]:
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    #查詢資料
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchone()
    print(data)
    data = cur.fetchall()
    print(data)
    #for rec in data: 
    #    print(rec)
        #print(rec[0], rec[1])

('0912173381', 'United State')
[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

## 使用Pandas 操作SQLite

In [10]:
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},\
            {'name':'John', 'age':33 , 'gender': 'M'}]

df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [11]:
import sqlite3 as lite
with lite.connect('test.sqlite') as db:
    df.to_sql(name='employee', index=False, con=db, if_exists='replace')

In [13]:
import pandas
dfs = pandas.read_html('http://rate.bot.com.tw/xrt/quote/l6m/USD')
df = dfs[0]
df = df[[0,1,2,3,4,5]]
df.columns = ['掛牌日期', '幣別', '現金匯率-買入','現金匯率-賣出', '即期匯率-買入', '即期匯率-賣出']

with lite.connect('test.sqlite') as db:
    df.to_sql(name='USD', index=False, con=db, if_exists='replace')

## 安裝 MySQLdb
- pip install PyMySQL

In [15]:
! pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-0.7.11-py2.py3-none-any.whl (78kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.7.11

In [33]:
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},\
            {'name':'John', 'age':33 , 'gender': 'M'}]

df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [34]:

import pymysql

from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:"+'test'+"@localhost/appledaily", encoding = 'UTF-8')
#df.columns = ['1', '2','3','4','5', '6']
df.to_sql(name='employee', con=engine, if_exists='replace')
#df.to_sql(name, con=engine, if_exists='fail', index=True, index_label=None)
db.close()

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

In [ ]:
db = pymysql.connect(host="localhost",
                     user="root",
                     passwd="test",
                     db="appledaily",
                     charset='utf8')