## 如何讓兩個list 相乘

In [9]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]

# method 1
for i in range(0, len(a)):
    print(a[i] * b[i])

# method 2
ary = []
for i in range(0, len(a)):
    ary.append(a[i] * b[i])
print(ary)

# method 3
print([a[i] * b[i] for i in range(0, len(a))])

# method 4: zip
for f, s in zip(a, b):
    print(f * s)

# method 5
print([f * s for f,s in zip(a,b)])

2
12
30
56
90
[2, 12, 30, 56, 90]
[2, 12, 30, 56, 90]
2
12
30
56
90
[2, 12, 30, 56, 90]

## 在104 的爬蟲套用zip

In [14]:
import requests
res = requests.get('https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=623e466f383a426b34363e673c423a1d02d2d2d70463a4e2644j50')
res.encoding = 'utf-8'
#print(res.encoding)

In [18]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'html.parser')
tag = soup.select('dt')
description = soup.select('dd')
for t, d in zip(tag, description):
    print(t.text,d.text.strip())

產業類別： 電腦軟體服務業
產業描述： 資訊軟體
員　　工： 10人
資 本 額： 200萬元
聯 絡 人： 丘先生
公司地址： 台北市中山區南京東路二段地圖
電　　話： 暫不提供
傳　　真： 暫不提供
公司網址： http://www.largitdata.com
相關連結： 更多





商業司登記
Google查公司名稱
求職服務專線 02-2912-6104 轉2
廠商求才專線

## Numpy

In [24]:
import numpy as np
na = np.array(a)
nb = np.array(b)
na * nb
na + nb
na - nb
na / nb

array([ 0.5       ,  0.75      ,  0.83333333,  0.875     ,  0.9       ])

## Numpy 1d array

In [32]:
a = [1,2,3,4,5]
print(type(a))

na = np.array(a)
print(type(na))

na[0]
na[1:3]

print(na >= 3)
print(na[na >= 3])

<class 'list'>
<class 'numpy.ndarray'>
[False False  True  True  True]
[3 4 5]

## Numpy 2d array

In [38]:
na = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(type(na))
print(na)
print(na[0,0])
print(na[0,:])
print(na[:,0])
print(na.T)

<class 'numpy.ndarray'>
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
1
[1 2 3 4 5]
[1 6]
[[ 1  6]
 [ 2  7]
 [ 3  8]
 [ 4  9]
 [ 5 10]]

In [39]:
na = np.array([['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M', 35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]])
na

array([['frank', 'M', '29'],
       ['mary', 'F', '23'],
       ['tom', 'M', '35'],
       ['ted', 'M', '33'],
       ['jean', 'F', '21'],
       ['lisa', 'F', '20']],
      dtype='<U5')

## Pandas

In [41]:
import pandas as pd
df = pd.DataFrame([['frank', 'M', 29], ['mary', 'F', 23], ['tom', 'M', 35], ['ted', 'M', 33], ['jean', 'F', 21], ['lisa', 'F', 20]])
df

       0  1   2
0  frank  M  29
1   mary  F  23
2    tom  M  35
3    ted  M  33
4   jean  F  21
5   lisa  F  20

In [42]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [43]:
df.columns = ['name', 'gender', 'age']

In [46]:
df['name']

0    frank
1     mary
2      tom
3      ted
4     jean
5     lisa
Name: name, dtype: object